@for (filter of filters; track filter.key) {
  @if (filter.type === 'text') {
    <mat-form-field appearance="outline">
      <mat-label>
        {{ filter.label }}
      </mat-label>
      <input
        matInput
        [value]="filterValues[filter.key] ?? ''"
        (input)="setFilterValue(filter.key, $any($event.target).value)">
    </mat-form-field>
  }
  @if (filter.type === 'number') {
    <mat-form-field appearance="outline">
      <mat-label>
        {{ filter.label }}
      </mat-label>
      <input
        matInput
        type="number"
        [value]="filterValues[filter.key] ?? ''"
        (input)="setFilterValue(filter.key, $any($event.target).value)">
    </mat-form-field>
  }
}
