<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="addFamilyForm" (ngSubmit)="submitForm();">
      <mat-card class="add-family-card">
        <mat-card-header>
          <mat-card-title class="add-family-title">New Family</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-col">
            <mat-form-field>
              <mat-label>Guardian First Name</mat-label>
              <input matInput formControlName="guardianFirstName"
                required>
              @if (formControlHasError('guardianFirstName')) {
                <mat-error data-test="guardianFirstNameError">
                  {{getFamilyErrorMessage('guardianFirstName')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Guardian Last Name</mat-label>
              <input matInput formControlName="guardianLastName"
                required>
              @if (formControlHasError('guardianLastName')) {
                <mat-error data-test="guardianLastNameError">
                  {{getFamilyErrorMessage('guardianLastName')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email"
                formControlName="email" required>
              @if (formControlHasError('email')) {
                <mat-error data-test="emailError">
                  {{getFamilyErrorMessage('email')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput type="text"
                formControlName="address" required>
              @if (formControlHasError('address')) {
                <mat-error data-test="addressError">
                  {{getFamilyErrorMessage('address')}}
                </mat-error>
              }
            </mat-form-field>

             <h3>Available Times</h3>
            <div formGroupName="timeAvailability">
              <mat-checkbox formControlName="earlyMorning" data-test="earlyMorningCheckbox">
                {{ timeAvailabilityLabels.earlyMorning }} (Early Morning)
              </mat-checkbox><br>
              <mat-checkbox formControlName="lateMorning" data-test="lateMorningCheckbox">
                {{ timeAvailabilityLabels.lateMorning }} (Late Morning)
              </mat-checkbox><br>
              <mat-checkbox formControlName="earlyAfternoon" data-test="earlyAfternoonCheckbox">
                {{ timeAvailabilityLabels.earlyAfternoon }} (Early Afternoon)
              </mat-checkbox><br>
              <mat-checkbox formControlName="lateAfternoon" data-test="lateAfternoonCheckbox">
                {{ timeAvailabilityLabels.lateAfternoon }} (Late Afternoon)
              </mat-checkbox>
            </div>

            <h3>Students</h3>

            <div formArrayName="students">
              @for (student of students.controls; track $index; let i = $index) {
                <div [formGroupName]="i">
                  <div class="student-fields">

                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name" required>
                      @if (studentControlHasError(i, 'name')) {
                        <mat-error data-test="nameError">
                          {{getStudentErrorMessage(i, 'name')}}
                        </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Grade</mat-label>
                      <mat-select formControlName="grade" required>
                        <mat-option *ngFor="let g of grades" [value]="g">{{ g }}</mat-option>
                      </mat-select>
                      @if (studentControlHasError(i, 'grade')) {
                        <mat-error data-test="gradeError">
                          {{getStudentErrorMessage(i, 'grade')}}
                        </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field class="student-school">
                      <mat-label>School</mat-label>
                      <mat-select formControlName="school" required>
                        <mat-option *ngFor="let s of schools" [value]="s.abbreviation">
                          {{ s.name }} ({{ s.abbreviation }})
                        </mat-option>
                      </mat-select>
                      @if (studentControlHasError(i, 'school')) {
                        <mat-error data-test="schoolError">
                          {{getStudentErrorMessage(i, 'school')}}
                        </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Teacher Last Name</mat-label>
                      <input matInput formControlName="teacher">
                      @if (studentControlHasError(i, 'teacher')) {
                        <mat-error data-test="teacherError">
                          {{getStudentErrorMessage(i, 'teacher')}}
                        </mat-error>
                      }
                    </mat-form-field>

                    <button
                    mat-flat-button
                    type="button"
                    color="accent"
                    class="remove-button"
                    (click)="removeStudent(i)">
                      Remove Student
                    </button>

                    <div class="radio-group">
                      <div class="radio-section">
                        <h4 style="font-size: 15px;">Backpack Needed?</h4>
                        <mat-radio-group formControlName="backpack">
                          <mat-radio-button [value]="true">Yes</mat-radio-button>
                          <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                      </div>

                      <div class="radio-section">
                        <h4 style="font-size: 15px;">Headphones Needed?</h4>
                        <mat-radio-group formControlName="headphones">
                          <mat-radio-button [value]="true">Yes</mat-radio-button>
                          <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>

    <button
      mat-flat-button
      type="button"
      color="primary"
      class="add-button"
      (click)="addStudent()">Add Student</button>
          </div>

        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="primary"
            data-test="BackFamilyButton"
            routerLink="/family"
            >
            BACK
          </button>
          <button
            mat-button
            type="button"
            class="family-button"
            color="primary"
            [disabled]="!addFamilyForm.valid"
            type="submit"
            data-test="confirmAddFamilyButton"
            >
            ADD FAMILY
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
