<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="editFamilyForm" (ngSubmit)="submitForm();">
      <mat-card class="edit-family-card">
        <mat-card-header>
          <mat-card-title class="edit-family-title">Edit Family</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-col">
            <mat-form-field>
              <mat-label>Guardian Name</mat-label>
              <input matInput formControlName="guardianName"
                required [ngModel]="family().guardianName">
              @if (formControlHasError('guardianName')) {
                <mat-error data-test="guardianNameError">
                  {{getFamilyErrorMessage('guardianName')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email"
                formControlName="email" required [ngModel]="family().email">
              @if (formControlHasError('email')) {
                <mat-error data-test="emailError">
                  {{getFamilyErrorMessage('email')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput type="text"
                formControlName="address" required [ngModel]="family().address">
              @if (formControlHasError('address')) {
                <mat-error data-test="addressError">
                  {{getFamilyErrorMessage('address')}}
                </mat-error>
              }
            </mat-form-field>

            <h3>Available Times</h3>
            <div formGroupName="timeAvailability">
              <mat-checkbox formControlName="earlyMorning" data-test="earlyMorningCheckbox" [ngModel]="family().timeAvailability?.earlyMorning">
                {{ timeAvailabilityLabels.earlyMorning }} (Early Morning)
              </mat-checkbox><br>
              <mat-checkbox formControlName="lateMorning" data-test="lateMorningCheckbox" [ngModel]="family().timeAvailability?.lateMorning">
                {{ timeAvailabilityLabels.lateMorning }} (Late Morning)
              </mat-checkbox><br>
              <mat-checkbox formControlName="earlyAfternoon" data-test="earlyAfternoonCheckbox" [ngModel]="family().timeAvailability?.earlyAfternoon">
                {{ timeAvailabilityLabels.earlyAfternoon }} (Early Afternoon)
              </mat-checkbox><br>
              <mat-checkbox formControlName="lateAfternoon" data-test="lateAfternoonCheckbox" [ngModel]="family().timeAvailability?.lateAfternoon">
                {{ timeAvailabilityLabels.lateAfternoon }} (Late Afternoon)
              </mat-checkbox>
            </div>

            <h3>Students</h3>

            <div formArrayName="students">
              @for (student of students.controls; track $index; let i = $index) {
                <div [formGroupName]="i" class="student-row">
                  <div class="student-fields">

                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name" required [ngModel]="family().students[i]?.name">
                      @if (studentControlHasError(i, 'name')) {
                        <mat-error data-test="nameError">
                          {{getStudentErrorMessage(i, 'name')}}
                        </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Grade</mat-label>
                      <mat-select formControlName="grade" required [ngModel]="family().students[i]?.grade">
                        <mat-option *ngFor="let g of grades" [value]="g">{{ g }}</mat-option>
                      </mat-select>
                      @if (studentControlHasError(i, 'grade')) {
                        <mat-error data-test="gradeError">
                          {{getStudentErrorMessage(i, 'grade')}}
                        </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>School</mat-label>
                      <mat-select formControlName="school" required [ngModel]="family().students[i]?.schoolAbbreviation">
                        <mat-option *ngFor="let s of schools" [value]="s.abbreviation">
                          {{ s.name }} ({{ s.abbreviation }})
                        </mat-option>
                      </mat-select>
                      @if (studentControlHasError(i, 'school')) {
                        <mat-error data-test="schoolError">
                          {{getStudentErrorMessage(i, 'school')}}
                        </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Teacher</mat-label>
                      <input matInput formControlName="teacher" [ngModel]="family().students[i]?.teacher">
                    </mat-form-field>

                    <div class="radio-group">
                      <h3>Backpack Needed?</h3>
                      <mat-radio-group formControlName="backpack" [ngModel]="family().students[i]?.backpack">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                      </mat-radio-group>

                      <h3>Headphones Needed?</h3>
                      <mat-radio-group formControlName="headphones" [ngModel]="family().students[i]?.headphones">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <button mat-flat-button color="accent" class="remove-student-button" type="button" (click)="removeStudent(i)">
                    Remove Student
                    </button>
                  </div>
                </div>
              }
            </div>

    <button mat-flat-button color="primary" class="add-student-button" type="button" (click)="addStudent()">Add Student</button>
          </div>

        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="warn"
            data-test="deleteFamilyButton"
            (click)="deleteForm()"
            >
            DELETE FAMILY
          </button>
          <button
            mat-button
            type="button"
            color="primary"
            data-test="BackFamilyButton"
            routerLink="/family"
            >
            BACK
          </button>
          <button
            mat-button
            type="button"
            color="primary"
            [disabled]="!editFamilyForm.valid"
            type="submit"
            data-test="confirmEditFamilyButton"
            >
            SAVE
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
