<div class="flex-row">
  <div class="flex-1">

    @if (dashboardStats(); as stats) {
      <div class="dashboard-grid">


        <!-- Total Families and Students Card -->
        <mat-card class="stat-card">
          <mat-card-title>Total Families</mat-card-title>
          <div class ="stat-content">
            <mat-card-content>
              <div class="stat-number-family">
              {{ stats.totalFamilies }}
              </div>
            </mat-card-content>
          </div>

          <mat-card-title>Total Students</mat-card-title>
          <div class ="stat-content">
            <mat-card-content>
              <div class="stat-number-student">
              {{ stats.totalStudents }}
              </div>
            </mat-card-content>
          </div>
        </mat-card>

        <!-- Students Per School -->
        <mat-card class="stat-card">
          <mat-card-title>Students Per School</mat-card-title>
          <mat-card-content>

            <div class="stat-list-school">
            @for (school of stats.studentsPerSchool | keyvalue; track school.key) {
              <div class="stat-row-school">
                <span class="stat-label">{{ school.key }}</span>
                <span class="stat-value">{{ school.value }}</span>
              </div>
            }
            </div>

          </mat-card-content>
        </mat-card>

        <!-- Students Per Grade -->
        <mat-card class="stat-card">
          <mat-card-title>Students Per Grade</mat-card-title>
          <mat-card-content>

            <div class="stat-list-grade">
              @for (grade of stats.studentsPerGrade | keyvalue: gradeSort; track grade.key) {
                <div class="stat-row-grade">
                  <span class="stat-label">Grade: {{ grade.key }}</span>
                  <span class="stat-value">{{ grade.value }}</span>
                </div>
              }
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    } @else {
      <p class="loading-test">Loading Dashboard..</p>
    }

    <!-- Search Field -->
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="family-list-title">Families</mat-card-title>
      </mat-card-header>
      <div class="filter-container">
          <mat-form-field appearance="outline">
            <mat-label class="filter">Family</mat-label>
            <input
              matInput
              [ngModel]="guardianName() ?? ''"
              [matAutocomplete]="guardianNameAuto"
              (ngModelChange)="guardianName.set($event?.trim() || undefined)"
              placeholder="contains..."
              data-cy="filter-family"
            />
            <mat-autocomplete #guardianNameAuto="matAutocomplete">
              @for (option of filteredFamilyOptions() ; track option.value) {
                <mat-option [value]="option.value">{{ option.label }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
      </div>


      <div class="flex-row">
        @if (families()) {
        <div class="flex-1">
            <div class="family-cards-container flex-row gap-8 flex-wrap">
              @for (family of serverFilteredFamilies(); track family._id) {
              <app-family-card class="family-card" [family]="family"></app-family-card>
              }
            </div>
          </div>
      }  @else {
        <div class="flex-1 family-error">
          <mat-error>
            There was a problem loading the families. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </div>
        }
      </div>
    </mat-card>

  </div>
</div>

<button mat-raised-button (click)="downloadCSV()">
  Export CSV
</button>

<button mat-fab class="add-family-fab" matTooltip="Add Family" matTooltipPosition="left" routerLink="/family/new"
  data-test="addFamilyButton">
  <mat-icon class="md-24" aria-label="Add Family">add</mat-icon>
</button>
