@if (family()) {
  <mat-card class="family-card">

    <mat-card-header>
      <mat-card-title class="family-card-guardianName">{{ family().guardianName }}</mat-card-title>
    </mat-card-header>

      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>people</mat-icon>
            <p matListItemTitle>Students</p>
          </mat-list-item>

          <div class="student-card-container">
            @for (student of family().students ?? []; track [student.name, student.school, student.grade]) {
              <mat-card class="student-cards">
                <p>Name: {{ student.name }}</p>
                <p>School: {{ student.school }}</p>
                <p>Grade: {{ student.grade }}</p>
              </mat-card>
            }
          </div>

          <mat-list-item>
            <mat-icon matListItemIcon>schedule</mat-icon>
            <p matListItemTitle>Time Slot</p>
            <p matListItemLine class="family-card-timeSlot">{{ family().timeSlot }}</p>
          </mat-list-item>

          <mat-divider [inset]="true"></mat-divider>

          <mat-list-item>
            <a href="mailto:{{family().email}}"  matListItemIcon><mat-icon>mail</mat-icon></a>
            <p matListItemTitle>Email</p>
            <a matListItemLine class="family-card-email" href="mailto:{{family().email}}">{{family().email}}</a>
            <a href="mailto:{{family().email}}" matListItemMeta mat-icon-button><mat-icon>open_in_new</mat-icon></a>
          </mat-list-item>
          <!-- <pre>{{ family() | json }}</pre> -->
        </mat-list>
      </mat-card-content>
  </mat-card>
}
