<!--Template for all Supply List trees to use-->
<mat-tree #tree [dataSource]="supplyListNodes" [childrenAccessor]="childrenAccessor">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- Get the node's display info -->
    {{getNodeDisplay(node)}}
    <button mat-icon-button (click)="openItemDialog(node.supplyData)" [disabled]="!node.supplyData" data-cy="supplylist-info-button">
      <mat-icon>info</mat-icon>
    </button>
  </mat-tree-node>
  <!-- If its got children, handle expansion -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle [cdkTreeNodeTypeaheadLabel]="getNodeDisplay(node)">
    <!-- Expansion Button -->
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + getNodeDisplay(node)">
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <!-- Display the node's text -->
    <span>{{getNodeDisplay(node)}}</span>
  </mat-tree-node>
</mat-tree>
